<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- AngularJS-->
    <script src="js/angular_1_3_15.min.js"></script>

    <script src="js/board.js"></script>
    <script src="js/draggable.js"></script>
	<div id="user-info"></div>
	<div id="list_of_friends"></div>
	<div style = "display:none" id="list_of_friend_names"></div>
	
    <!-- Bootstrap -->
    <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1450937555212722',
          status: true,
          cookie: true,
          xfbml: true,
          oauth: true,
          version : 'v2.3'
        });
        FB.getLoginStatus(updateButton);
        FB.Event.subscribe('auth.statusChange', updateButton); 
      };

      (function(d, s, id){
    	 var js, fjs = d.getElementsByTagName(s)[0];         
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));    
      
      
    function updateButton(response){
    	
    	if (response.authResponse) {    		
    		updateUserInfo();
    		updateFriendInfo();
    		
    	} else {
    		dysplayLoginButton();
    	}
    
    }
    function updateFriendInfo(){
	    FB.api('/me/friends?limit=<?= $iLimit ?>', function(response) {
	    	var result_holder = document.getElementById('result_friends');
	    	var list_of_friend_names = document.getElementById('list_of_friend_names');

	    	var friend_data = response.data.sort(sortMethod);
	    	var results = '';
			var friend_names = '';
	    	for (var i = 0; i < friend_data.length; i++) {
	    	       results += '<div><img src="https://graph.facebook.com/' + friend_data[i].id + '/picture">' + friend_data[i].name + '</div>';
				   friend_names += '<div id=\'name_\''i'>' + friend_data[i].name + '</div>'
	    	}
	        list_of_friend_names.innerHTML = '<h2>List of friend names</h2>' + friend_names;

	        result_holder.innerHTML = '<h2>Result list of your friends:</h2>' + results;
	    	});
	    	button.onclick = function() {
	    		FB.logout(function(response) {
	    			window.location.reload();
	    		});
	    	};
    }
    function updateUserInfo(){
    	var button = document.getElementById('fb-auth');
    	var userInfo = document.getElementById('user-info');
	    FB.api('/me', function(response) {
    	    userInfo.innerHTML = '<img src="https://graph.facebook.com/' + response.id + '/picture">' + response.name;
    		button.innerHTML = 'Logout';
		});
    }
    function displayLoginButton(){
    	var button = document.getElementById('fb-auth');
    	button.onclick = function() {
        	FB.login(function(response) {
        		if (response.authResponse) {
        			window.location.reload();
        		}
        	}, {scope:'email'});
        }
    }
    </script>
    
</head>
<body ng-app="myApp" ng-init="user={'name':'tonylui'}">
<div ng-controller="messagesCtrl">
    <div ng-repeat="message in messageJSON">
        <div draggable ng-model="message" style="background-color: aqua;width: 100px; height: 100px">
            <textarea messageta >{{message.message}}</textarea>
        </div>
    </div>
</div>
<button id='fb-auth'>Login with Facebook</button>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

</body>
</html>