<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AngularJS-->
    <script src="js/angular_1_3_15.min.js"></script>
    <script src="js/route.js"></script>

    <link rel="stylesheet" href="StickyBoard.css">
    <!-- Bootstrap -->
    <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="js/board.js"></script>
    <script src="js/draggable.js"></script>

    <script src="/js/facebook.functions.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">

    <base href="/">


</head>
<body style="background-image: url('bg.jpg')">
<div ng-app="myApp" ng-init="user={'name':'tonylui'}">

    <div ng-controller="messagesCtrl">
        <div style="z-index: 999" class="container-fluid">
            <div>
                <a class="navbar-brand" href="#" >StickyMash</a>
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="addNewNote()" ><span class="glyphicon glyphicon-file"></span> Stick It</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div id="user-info"></div>
                    </li>
                    <li>
                        <form id="search_form2" action="#" method="get">
                            <input ng-model="searchText" type="text" class="form-group"
                                   name="q" placeholder="Search Notes"></label>
                        </form>
                    </li>
                    <li>

                        <form id="search_form" ng-submit="changePath()" method="get">
                            <input id="search_input" ng-model="searchedUser" ng-keypress="changePath()" type="text" class="form-group"
                                   name="q" placeholder="Search Friends"/>
                            <div class="fb-login-button" scope="public_profile, email, user_friends" id="user-logo" data-max-rows="1" data-size="medium"
                                 data-show-faces="false" data-auto-logout-link="true"></div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div>
                <div ng-repeat="message in messageJSON | filter:searchText">
                    <div draggable class="stickynote" style="z-index: -999">
                        <textarea class="stickytext" ng-model="message.message" ng-keyup="persistMessage(message)"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div id="list_of_friends"></div>
        <div style="display:none" id="list_of_friend_names"></div>

    </div>


</div>
</body>
</html>