<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- AngularJS-->
	<script src="js/angular_1_3_15.min.js"></script>

    <link rel="stylesheet" href="StickyBoard.css">
	<!-- Bootstrap -->
	<link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-1.11.3.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script src="js/board.js"></script>
    <script src="js/draggable.js"></script>

	<script src="/js/facebook.functions.js"></script>
	<div id="list_of_friends"></div>
	<div style = "display:none" id="list_of_friend_names"></div>
    
    <script>
      
		function statusChangeCallback(response) {
	        if (response.status === 'connected') {
		      updateUserInfo();
			  updateFriendInfo();
		    } else if (response.status === 'not_authorized') {
		      
		      document.getElementById('status').innerHTML = 'Please log into this app.';
		    } else {
		       document.getElementById('status').innerHTML = 'Please log into Facebook.';
		    }
		}
	
	  function checkLoginState() {
	    FB.getLoginStatus(function(response) {
	      statusChangeCallback(response);
	    });
	  }
	
	  window.fbAsyncInit = function() {
	        FB.init({
	          appId      : '1450937555212722',
	          status: true,
	          cookie: true,
	          xfbml: true,
	          oauth: true,
	          version : 'v2.3'
	        });
	        FB.getLoginStatus(statusChangeCallback);
	        FB.Event.subscribe('auth.statusChange', statusChangeCallback); 
	      };
	
	  (function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));

    </script>


</head>
<body>
    <div ng-app="myApp" ng-init="user={'name':'tonylui'}">
        

        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">StickyMash</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Stick It</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        
                        <form id="search_form" action="/search" method="get">
                        	<input id="search_input" onkeypress="updateSearchOptions(event)" type="text" class="form-group" name="q" placeholder="Search Here"/>
                        </form>
                        
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <li><div class="fb-login-button" id="user-logo" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
	
                    </li>
                    <li><div id="user-info"></div></li>
                </ul>
            </div>
        </div>
        <div class="navbar-borderline">

        </div>

        <div class="jumbotron">
			<div ng-controller="messagesCtrl">
				<div ng-repeat="message in messageJSON">
					<div draggable>
						<textarea ng-model="message.message" ng-keyup="persistMessage(message)"></textarea>
					</div>
				</div>
			</div>
        </div>

    </div>    
</body>
</html>