<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="StickyBoard.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/board.js"></script>
    <script src="js/draggable.js"></script>
    
	<div id="list_of_friends"></div>
	<div style = "display:none" id="list_of_friend_names"></div>
    
    <script>
      
		function statusChangeCallback(response) {
	        if (response.status === 'connected') {
		      updateUserInfo();
			  updateFriendInfo();
		    } else if (response.status === 'not_authorized') {
		      
		      document.getElementById('status').innerHTML = 'Please log into this app.';
		    } else {
		       document.getElementById('status').innerHTML = 'Please log into Facebook.';
		    }
		}
	
	  function checkLoginState() {
	    FB.getLoginStatus(function(response) {
	      statusChangeCallback(response);
	    });
	  }
	
	  window.fbAsyncInit = function() {
	        FB.init({
	          appId      : '1450937555212722',
	          status: true,
	          cookie: true,
	          xfbml: true,
	          oauth: true,
	          version : 'v2.3'
	        });
	        FB.getLoginStatus(statusChangeCallback);
	        FB.Event.subscribe('auth.statusChange', statusChangeCallback); 
	      };
	
	  (function(d, s, id) {
	    var js, fjs = d.getElementsByTagName(s)[0];
	    if (d.getElementById(id)) return;
	    js = d.createElement(s); js.id = id;
	    js.src = "//connect.facebook.net/en_US/sdk.js";
	    fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
	
	   function updateUserInfo() {
	    	var userInfo = document.getElementById('user-info');
		    console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me', function(response) {
		      console.log('Successful login for: ' + response.name);
			  userInfo.innerHTML = '<img src="https://graph.facebook.com/' + response.id + '/picture">' + response.name;
		      document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
		    });
	  }
	  function updateFriendInfo(){
		    FB.api('/me/friends?limit=<?= $iLimit ?>', function(response) {
		    	var result_holder = document.getElementById('result_friends');
		    	var list_of_friends = document.getElementById('list_of_friends');
	
		    	var friend_data = response.data;
		    	var results = '';
				var friend_names = '';
		    	for (var i = 0; i < friend_data.length; i++) {
		    	       results += '<div><img src="https://graph.facebook.com/' + friend_data[i].id + '/picture">' + friend_data[i].name + '</div>';
					   friend_names += '<div id=\'name_\''+i+'>' + friend_data[i].name + '</div>'
		    	}
		        list_of_friend.innerHTML = '<h2>List of friend names</h2>' + friend_names;
	
		        result_holder.innerHTML = '<h2>Result list of your friends:</h2>' + results;
		    	});
	    }
     function updateSearchOptions(event){
    	 alert(event.which);
    	 var key=event.which;
    	 var search_input = document.getElementById('search_input');
    	 var options = getListOfOptions(search_input.value+key);
    	 var select_options = document.getElementById('select_options');
    	 select_options.tyle.visibility = "visible";
    	 for (var i = 0; i < options.length; i++){
    		 var option = new Option(options[i], options[i]);
    		 select_options.options[daySelect.options.length] = option;
     	 }
    	 select_options.onchange="updateSearchInput("+select_options[select_options.selectedIndex].text+")";
    	 
     }   
     function getListOfOptions(match){
    	 var list_of_friends = document.getElementById('list_of_friends');
    	 var result = [];
    	 for (var i = 0; i < list_of_friends.length; i++){
    		 if (list_of_friends[i].contains(match)){
    			 result[result.length] = list_of_friends[i];
    		 }
    	 }
    	 return result;
     }
     function updateSearchInput(value){
    	 var search_input = document.getElementById('search_input');
    	 search_input.value = value;
    	 var select_options = document.getElementById('select_options');
    	 select_options.tyle.visibility = "hidden";
     }
    </script>


</head>
<body>
    <div ng-app="myApp">
        

        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">StickyMash</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Stick It</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        
                        <form action="/search" method="get">
                        	<input id="search_input" onkeypress="updateSearchOptions(event)" type="text" class="form-group" name="q" placeholder="Search Here"/>
                         	<select id="select_options" style="display:none"></select>
                        </form>
                        
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    <li><div class="fb-login-button" id="user-logo" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
	
                    </li>
                    <li><div id="user-info"></div></li>
                </ul>
            </div>
        </div>
        <div class="navbar-borderline">

        </div>

        <div class="jumbotron">
			<div ng-controller="messagesCtrl">
				<div ng-repeat="message in messageJSON">
					<div draggable ng-model="dragmodel" >
						<textarea ng-model="message.message" ng-keyup="persistMessage(message)"></textarea>
					</div>
				</div>
			</div>
        </div>

    </div>    
</body>
</html>