.container-fluid {
	background-color: #abdfe8;
}

.navbar-borderline {

	border-bottom: 0px solid #12464F;
}

.form-group {
	margin-top:9px;
	margin-bottom:9px;
	border-radius:4px;
}

.profile_picture {
	margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
	border-radius: 20px;
    height: 150px;
    width: 150px;
}

p {
	color: red;
}

body {
	background-color: blue;
}